/* Injects Tailwind's base styles & any base styles registered by plugins. */
@tailwind base;

@layer base {
  /* custom CSS goes here */
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  p , #text {
    font-size: 18px;
    font-family: 'Source Sans Pro', 'sans-serif';
    line-height: 1.85rem;
  }

  .link {
    @apply underline text-blue-800 hover:text-divpurple decoration-dashed;
  }

   body{
    background-color: var(--color-background);
    /* Smooth scroll */
   }

   .hover-content{
      @apply hover:border-2 hover:border-[color:var(--color-accent)] hover:cursor-pointer;
   }

   .divider{
    @apply  border-black border-[1px] w-1/2 mx-auto my-6;

   }
   .divider-white{
    @apply  border-white border-[1px] w-1/2 mx-auto my-6;

   }

   h2 {
    @apply text-3xl font-dm font-semibold;
   }


}

/* Injects Tailwind's component classes & any component classes registered by plugins. */
@tailwind components;

@layer components {
  /* custom CSS goes here */
}

/* Injects Tailwind's utility classes & any utility classes registered by plugins. */
@tailwind utilities;

@layer utilities {
  /* custom CSS goes here */
}

/* Directive controlling where Tailwind injects responsive variations of utilities.
   By default Tailwind normally append these at the end of your stylesheet. */
@tailwind screens;
